<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
  <properties>  
        <property name="LOG_HOME">./logs</property>  
        <property name="STAT_NAME">stat</property>  
        <property name="SERVER_NAME">springboot-data</property>  
    </properties>  
    <appenders>  
        <Console name="Console" target="SYSTEM_OUT" follow="true">  
            <PatternLayout pattern="%d [%t] %-5p [%c] - %m%n" />  
        </Console>  
        <RollingRandomAccessFile name="DevLog" fileName="${LOG_HOME}/${SERVER_NAME}.log"  
            filePattern="${LOG_HOME}/${SERVER_NAME}.%d{yyyy-MM-dd}.log">  
            <PatternLayout pattern="%d [%t] %-5p [%c] - %m%n" />  
            <Policies>  
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />  
            </Policies>  
        </RollingRandomAccessFile>  
    </appenders>
    <loggers>  
        <!-- Root Logger -->  
        <root level="DEBUG">  
            <appender-ref ref="DevLog" />  
            <appender-ref ref="Console" />  
        </root>  
		<logger name="org.springframework" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
		<logger name="org.apache.ibatis" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
		<logger name="org.mybatis.spring" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
		<logger name="org.hibernate" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
		<logger name="net.sf.ehcache" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
		<logger name="org.apache.shiro" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
		<logger name="org.apache.commons.beanutils" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
		<logger name="org.apache.http" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
		<logger name="com.ibatis" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
		<logger name="java.sql.Connection" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
		<logger name="java.sql.Statement" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
		<logger name="java.sql.PreparedStatement" level="warn" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="DevLog" />
		</logger> 
    </loggers>  
</configuration>